<ul class="pagination pagination-sm pagination-bordered mb-0" id="pagination">
    {% if news_list_show.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ news_list_show.previous_page_number }}">قبل</a></li>
    {% endif %}
    
    {% for i in news_list_show.paginator.page_range %}
        {% if news_list_show.number == i %}
            <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if news_list_show.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ news_list_show.next_page_number }}">بعد</a></li>
    {% endif %}
</ul>