{% extends 'master/panel_dashboard.html' %}
{% load custom_tags %}
{% load news_tags %}
{% load static %}
{% block settings_tab_name %}
<title>{{settings.tab_name}} | دسته بندی</title>
{% endblock settings_tab_name %} 
{% block quill_css %}
<link rel="stylesheet" type="text/css" href="{% static 'master/' %}vendor/quill/css/quill.snow.css">
{% endblock quill_css %}
{% block contentpanel_dashboard %}

  <!-- =======================
Main contain START -->
<section class="py-4">
	<div class="container">
    <div class="row pb-4">
			<div class="col-12">
        <!-- Title -->
				<div class="d-sm-flex justify-content-sm-between align-items-center">
					<h1 class="mb-2 mb-sm-0 h3">دسته بندی ها </h1>			
					{% comment %} <a href="#" class="btn btn-sm btn-primary mb-0"><i class="fas fa-plus me-2"></i>ثبت دسته بندی جدید</a> {% endcomment %}
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-sm btn-primary mb-0" data-bs-toggle="modal" data-bs-target="#modal_category">
						ثبت دسته بندی جدید
					</button>
					<!-- Modal -->
					<div class="modal fade" id="modal_category" tabindex="-1" aria-labelledby="modal_category_lLabel" aria-hidden="true">
						<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="modal_category_lLabel">ایجاد دسته بندی</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form action="{% url 'master_category_create_submit' %}" method="POST" enctype="multipart/form-data" id="form_all">
							{% csrf_token %}
							<div class="modal-body">
								<div class="col-12">
									<div class="mb-3">
									  <label class="form-label">عنوان</label>
									  <input required id="title_category" name="title_category" type="text" class="form-control" placeholder="عنوان دسته بندی">
									  </div>
								  </div>
								  <div class="row">
									<div class="col-6">
										<div class="mb-3">
											<label class="form-label">رنگ پس زمینه</label>
											<input id="color_bg_category" name="color_bg_category" type="color" class="form-control" value="#f5f5f5" placeholder="حالت پیشفرض #f5f5f5">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label class="form-label">رنگ متن</label>
											<input id="color_text_category" name="color_text_category" type="color" class="form-control" value="#333" placeholder="حالت پیشفرض #333">
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="mb-3">
									<!-- Image -->
									<div class="position-relative">
										<h6 class="my-2">آپلود تصویر شاخص</h6>
										<label class="w-100" style="cursor:pointer;">
											<div class="input-group flex-row-reverse">
												<input type="text" class="form-control upload-name" id="upload-name-create"/>
												<span class="btn btn-custom cursor-pointer upload-button" id="upload-button-create">آپلود فایل</span>
											</div>
											<input class="form-control stretched-link d-none hidden-upload" type="file" id="img_category_create" name="img_category" accept="image/gif, image/jpeg, image/png, image/webp"/>
										</label>
									</div>
								</div>		
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
							<button type="submit" class="btn btn-primary">ایجاد دسته بندی</button>
						</div>
					</div>
				</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row g-4" id="all-section">
			{% for i in show_category %}
			<div class="col-md-6 col-xl-4" id="del_{{i.id}}">
				<!-- Category item START -->
				<div class="card border h-100">
					<!-- Card header -->
					<div class="card-header border-bottom p-3" style="background-color: {{ i.color|hex_to_rgba:'0.15' }};">
						<div class="d-flex align-items-center">
							<div type="button" class="icon-lg shadow btn-primary-soft rounded-circle" data-bs-toggle="modal" data-bs-target="#modal_category_edit_{{i.id}}">
								<i class="fa fa-edit"></i> 
							</div>
							<h4 class="mb-0 ms-3">{{i.title}}</h4>
						</div>
					</div>

					<!-- Card body START -->
					<div class="card-body p-3">

						<!-- Followers and Post -->
						<div class="d-flex justify-content-between">
							<!-- Total post -->
							<div>
								<h5 class="mb-0">{{ i|post_count }}</h5>
								<h6 class="mb-0 fw-light">کل اخبار</h6>
							</div>
						</div>
						
					</div>
					<!-- Card body END -->

					<!-- Card footer -->
					<div class="card-footer border-top text-center p-3">
            			<a href="#" class="btn btn-primary-soft w-90 mb-0" data-bs-toggle="modal" 
						data-bs-target="#modal_add_subcategory_{{i.id}}"><i class="fa fa-plus mx-2"></i>ایجاد</a>
					
						<button type="button" class="btn btn-danger-soft w-90 mb-0" onclick="del_category({{i.id}})">
						<i class="fa fa-trash mx-2"></i>حذف </button>
					</div>
				</div>
				<!-- Category item END -->
			</div>
			{% endfor %}
		</div>
	</div>

</section>
<!-- =======================
Main contain END -->
<!-- Button trigger modal -->
{% for i in show_category %}
<!-- Modal -->
<div class="modal fade" id="modal_category_edit_{{i.id}}" tabindex="-1" aria-labelledby="modal_category_lLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_category_lLabel">ویرایش دسته بندی</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="{% url 'master_category_edit_submit' id=i.id %}" id="form_category_edit" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
			<div class="modal-body">
				<div class="col-12">
					<div class="mb-3">
						<label class="form-label">ویرایش عنوان</label>
						<input required id="title_category_edit" name="title_category_edit" type="text" class="form-control" value="{{i.title}}" placeholder="عنوان دسته بندی">
					</div>
				</div>
					<div class="row">
						<div class="col-6">
							<div class="mb-3">
								<label class="form-label">ویرایش رنگ پس زمینه</label>
								<input id="color_bg_category_edit" name="color_bg_category_edit" type="color" class="form-control" value="{{i.color}}" placeholder="حالت پیشفرض #f5f5f5">
							</div>
						</div>
						<div class="col-6">
							<div class="mb-3">
								<label class="form-label">ویرایش رنگ متن</label>
								<input id="color_text_category_edit" name="color_text_category_edit" type="color" class="form-control" value="{{i.color_text}}" placeholder="حالت پیشفرض #333">
							</div>
						</div>
					</div>
						<div class="col-12">
							<div class="mb-3">
							<!-- Image -->
							<div class="position-relative">
								<h6 class="my-2">ویرایش تصویر شاخص</h6>
								<label class="w-100" style="cursor:pointer;">
									<input class="form-control" type="file" id="img_category_edit" name="img_category_edit" accept="image/gif, image/jpeg, image/png, image/webp"/></label>
							</div>
						</div>		
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
						<button type="submit" class="btn btn-primary">ویرایش دسته بندی</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endfor %}






<!-- Button trigger modal -->
{% for i in show_category %}
<!-- Modal -->
<div class="modal fade modal-lg" id="modal_add_subcategory_{{i.id}}" tabindex="-1" aria-labelledby="modal_category_lLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_category_lLabel">ریز دسته بندی</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="{% url 'master_category_edit_submit' id=i.id %}" id="form_category_edit" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
			<div class="modal-body">
				<div class="col-12">
					<div class="mb-3">
						<label class="form-label">عنوان</label>
						<input required id="title_subcategory_add" name="title_subcategory_add" type="text" class="form-control" placeholder="عنوان زیر دسته بندی">
					</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
						<button type="submit" class="btn btn-primary">ایجاد</button>
					</div>
					<div class="table-responsive border-0">
						<table class="table align-middle p-4 mb-0 table-hover table-shrink">
						  <!-- Table head -->
						  <thead class="table-dark">
							<tr>
							  <th scope="col" class="border-0 rounded-start">عنوان</th>
							  <th scope="col" class="border-0 rounded-end">فعالیت</th>
							</tr>
						  </thead>
			
						  <!-- Table body START -->
						  <tbody id="dt_table" class="border-top-0">
							<!-- Table item -->
							<tr>
							  <!-- Table data -->
							  <td>
								<h6 class="course-title mt-2 mt-md-0 mb-0"><a href="#">test</a></h6>
							  </td>
							  <!-- Table data -->
							  <td>
								<div class="d-flex gap-2">
								  <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="حذف"><i class="bi bi-trash"></i></a>
								  <a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="ویرایش"><i class="bi bi-pencil-square"></i></a>
								</div>
							  </td>
							</tr>
							<tr>
								<!-- Table data -->
								<td>
								  <h6 class="course-title mt-2 mt-md-0 mb-0"><a href="#">test</a></h6>
								</td>
								<!-- Table data -->
								<td>
								  <div class="d-flex gap-2">
									<a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="حذف"><i class="bi bi-trash"></i></a>
									<a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="ویرایش"><i class="bi bi-pencil-square"></i></a>
								  </div>
								</td>
							  </tr>
						  </tbody>
						  <!-- Table body END -->
						</table>
					</div>
				</div>
				
			</form>
			
		</div>
		
	</div>
	
</div>
{% endfor %}
{% endblock contentpanel_dashboard %}

<script>
	document.querySelectorAll('[data-bs-target="#modal_category_edit"]').forEach(button => {
		button.addEventListener('click', function() {
			const categoryId = this.getAttribute('data-category-id');
			fetch(`/master/dashboard/category/get/${categoryId}/`)
				.then(response => response.json())
				.then(data => {
					document.getElementById('title_category_edit').value = data.title;
					document.getElementById('color_bg_category_edit').value = data.color;
					document.getElementById('color_text_category_edit').value = data.color_text;
					document.getElementById('edit_category_form').action = `/master/dashboard/category/edit/submit/${categoryId}/`;
				});
		});
	});
	
	document.getElementById('edit_category_form').addEventListener('submit', function(e) {
		e.preventDefault();
		const formData = new FormData(this);
		fetch(this.action, {
			method: 'POST',
			body: formData
		})
		.then(response => response.json())
		.then(data => {
			if (data.success) {
				// نمایش پیام موفقیت و بستن مودال
				alert(data.message);
				$('#modal_category_edit').modal('hide');
			} else {
				// نمایش پیام خطا
				alert(data.message);
			}
		});
	});
	</script>


{% block link_js %}
<script src="{% static 'master/' %}js/sweetalert.js"></script>
<script src="{% static 'master/' %}js/delete_swal.js"></script>
<script src="{% static 'master/' %}js/ajax.js"></script>


<script>
	document.querySelector(".upload-button").addEventListener("click", () => {
	 //clicks on the file input
	 document.querySelector(".hidden-upload").click();
   });
   //adds event listener on the hidden file input to listen for any changes
   document.querySelector(".hidden-upload").addEventListener("change", (event) => {
	 //gets the file name
	 document.querySelector(".upload-name").value = event.target.files[0].name;
   });
</script>

{% endblock link_js %}
