{% extends 'master/panel_dashboard.html' %}
{% load static %}
{% block settings_tab_name %}
<title>{{settings.tab_name}} | ایجاد مدیریت</title>
{% endblock settings_tab_name %} 
{% block quill_css %}
<link rel="stylesheet" type="text/css" href="{% static 'master/' %}vendor/quill/css/quill.snow.css">
{% endblock quill_css %}
{% block contentpanel_dashboard %}

<!-- =======================
Main contain START -->
<section class="py-4">
	<div class="container">
    <div class="row pb-4">
			<div class="col-12">
        <!-- Title -->
					<h1 class="mb-0 h3">ایجاد خبر جدید</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Chart START -->
				<div class="card border">
					<!-- Card body -->
					<div class="card-body">
            <!-- Form START -->
            <form action="{% url 'master_post_create_submit' %}" method="POST" enctype="multipart/form-data" id="form_all">
              {% csrf_token %}
              <!-- Main form -->
              <div class="row">
                <div class="col-12">
                  <!-- Post name -->
                  <div class="mb-3">
                    <label class="form-label">عنوان</label>
                    <input required id="title_news" name="title_news" type="text" class="form-control" placeholder="عنوان خبر">
                    <small>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</small>
                  </div>
                </div>

                <div class="col-md-12">
                  <!-- Subject -->
                  <div class="mb-3">
                    <label class="form-label">متن خبر</label>
                    <!-- Editor toolbar -->
                    <textarea id="text_news" name="text_news" class="form-control" required></textarea>
                      <!-- Main toolbar -->
                    </div>	
                </div>
            
              <!-- Main toolbar -->
                {% comment %} <div class="col-md-12">
                  <!-- Subject -->
                  <div class="mb-3">
                    <label class="form-label">متن خبر</label>
                    <!-- Editor toolbar -->
                      <div class="bg-light border border-bottom-0 rounded-top py-3" id="quilltoolbar">
                        <span class="ql-formats">
                          <select class="ql-size"></select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-bold"></button>
                          <button class="ql-italic"></button>
                          <button class="ql-underline"></button>
                          <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                          <select class="ql-color"></select>
                          <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-code-block"></button>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-list" value="ordered"></button>
                          <button class="ql-list" value="bullet"></button>
                          <button class="ql-indent" value="-1"></button>
                          <button class="ql-indent" value="+1"></button>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-link"></button>
                          <button class="ql-image"></button>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-clean"></button>
                        </span>
                      </div>
                      <!-- Main toolbar -->
                      <div class="bg-body border rounded-bottom h-300 overflow-hidden" id="quilleditor">
                      </div>
                    </div>	
                </div> {% endcomment %}
                <div class="col-12">
                  <div class="mb-3">
                  <!-- Image -->
                  <div class="position-relative">
                    <h6 class="my-2">آپلود تصویر شاخص<a href="#!" class="text-primary"> آپلود از کامپیوتر</a></h6>
					            <label class="w-100" style="cursor:pointer;">
                        <div class="input-group flex-row-reverse">
                                <input type="text" class="form-control upload-name"/>
                                <span class="btn btn-custom cursor-pointer upload-button">آپلود فایل</span>
                        </div> 
                        <input required class="form-control stretched-link d-none hidden-upload" type="file" id="img_news" name="img_news" accept="image/gif, image/jpeg, image/png, image/webp"/>
										</label>
                                       
                  </div>
                  <p class="small mb-0 mt-2"><b>نکته:</b> فرمت های مجاز: JPG، JPEG و PNG و ابعاد پیشنهادی ما 600px * 450px است. تصاویر بزرگتر به اندازه 4:3 برش داده می شود تا با تصاویر کوچک/پیش نمایش ما مطابقت داشته باشد.</p>
                  </div>
                </div>
                <div class="col-lg-7">
                  <!-- Tags -->
                  {% comment %} <div class="mb-3">
                    <label class="form-label">برچسب</label>
                    <textarea class="form-control" rows="1" placeholder="ورزش، اقتصاد، ..."></textarea>
                    <small>حداکثر 14 کلمه کلیدی، کلمات کلیدی باید با حروف کوچک و با کاما از هم جدا شوند. به عنوان مثال، جاوا اسکریپت، واکنش، بازاریابی</small>
                  </div> {% endcomment %}
                </div>
                <div class="col-lg-12">
                  <!-- Message -->
                  <div class="mb-3">
                    <label class="form-label">دسته بندی</label>
                    <select class="form-select" id="sub_cat_news" name="sub_cat_news" aria-label="Default select example">
                      <option value="" selected>دسته خبر را انتخاب کنید</option>
                      {% for i in show_subcategory %}
                      <option value="{{i.id}}">{{i.category}} | {{i.title}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- Create post button -->
                <div class="col-md-12 text-start">
                  <button class="btn btn-primary w-100" type="submit">ایجاد خبر</button>
                </div>
              </div>
            </form>
            <!-- Form END -->
					</div>
				</div>
				<!-- Chart END -->
			</div>
    </div>
	</div>
</section>
<!-- =======================
Main contain END -->

{% endblock contentpanel_dashboard %}

{% block link_js %}
<script src="{% static 'master/' %}js/ajax.js"></script>
{% endblock link_js %}

{% block quill_js %}
<script src="{% static 'master/' %}vendor/quill/js/quill.min.js"></script>
<script>
  if ($("#sub_cat_news").val() === "") {
    alert("لطفا یک دسته بندی انتخاب کنید");
    return false;
  }
</script>
<script>
  document.querySelector(".upload-button").addEventListener("click", () => {
   //clicks on the file input
   document.querySelector(".hidden-upload").click();
 });
 //adds event listener on the hidden file input to listen for any changes
 document.querySelector(".hidden-upload").addEventListener("change", (event) => {
   //gets the file name
   document.querySelector(".upload-name").value = event.target.files[0].name;
 });
</script>

{% endblock quill_js %}