{% extends 'master/panel_dashboard.html' %}
{% load custom_tags %}
{% load news_tags %}
{% load static %}
{% block settings_tab_name %}
<title>{{settings.tab_name}} | مدیریت</title>
{% endblock settings_tab_name %} 
{% block quill_css %}
<link rel="stylesheet" type="text/css" href="{% static 'master/' %}vendor/quill/css/quill.snow.css">
{% endblock quill_css %}
{% block contentpanel_dashboard %}

  <!-- =======================
Main contain START -->
<section class="py-4">
	<div class="container">
    <div class="row pb-4">
			<div class="col-12">
        <!-- Title -->
				<div class="d-sm-flex justify-content-sm-between align-items-center">
					<h1 class="mb-2 mb-sm-0 h3">دسته بندی ها </h1>			
					{% comment %} <a href="#" class="btn btn-sm btn-primary mb-0"><i class="fas fa-plus me-2"></i>ثبت دسته بندی جدید</a> {% endcomment %}
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-sm btn-primary mb-0" data-bs-toggle="modal" data-bs-target="#modal_category">
						ثبت دسته بندی جدید
					</button>
					<!-- Modal -->
					<div class="modal fade" id="modal_category" tabindex="-1" aria-labelledby="modal_category_lLabel" aria-hidden="true">
						<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="modal_category_lLabel">ایجاد دسته بندی</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form action="{% url 'master_category_create_submit' %}" method="POST" enctype="multipart/form-data" id="form_all">
							{% csrf_token %}
							<div class="modal-body">
								<div class="col-12">
									<div class="mb-3">
									  <label class="form-label">عنوان</label>
									  <input required id="title_category" name="title_category" type="text" class="form-control" placeholder="عنوان دسته بندی">
									  </div>
								  </div>
								  <div class="row">
								  <div class="col-6">
									<div class="mb-3">
									  <label class="form-label">رنگ پس زمینه</label>
									  <input id="color_bg_category" name="color_bg_category" type="text" class="form-control" value="#f5f5f5" placeholder="حالت پیشفرض #f5f5f5">
									  </div>
								  </div>
								  <div class="col-6">
									<div class="mb-3">
									  <label class="form-label">رنگ متن</label>
									  <input id="color_text_category" name="color_text_category" type="text" class="form-control" value="#333" placeholder="حالت پیشفرض #333">
									  </div>
								  </div>
								</div>
								<div class="col-12">
									<div class="mb-3">
									<!-- Image -->
									<div class="position-relative">
									  <h6 class="my-2">آپلود تصویر شاخص</h6>
										<label class="w-100" style="cursor:pointer;">
											<div class="input-group flex-row-reverse">
													<input type="text" class="form-control upload-name"/>
													<span class="btn btn-custom cursor-pointer upload-button">آپلود فایل</span>
											</div> 
											<input class="form-control stretched-link d-none hidden-upload" type="file" id="img_category" name="img_category" accept="image/gif, image/jpeg, image/png, image/webp"/>
										</label>
									</div>
								</div>		
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
							<button type="submit" class="btn btn-primary">ایجاد دسته بندی</button>
						</div>
					</div>
				</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row g-4" id="all-section">
			{% for i in show_category %}
			<div class="col-md-6 col-xl-4" id="del_{{i.id}}">
				<!-- Category item START -->
				<div class="card border h-100">
					<!-- Card header -->
					<div class="card-header border-bottom p-3" style="background-color: {{ i.color|hex_to_rgba:'0.15' }};">
						<div class="d-flex align-items-center">
							<div class="icon-lg shadow bg-body rounded-circle">⛰️</div>
							<h4 class="mb-0 ms-3">{{i.title}}</h4>
						</div>
					</div>

					<!-- Card body START -->
					<div class="card-body p-3">

						<!-- Followers and Post -->
						<div class="d-flex justify-content-between">
							<!-- Total post -->
							<div>
								<h5 class="mb-0">{{ i|post_count }}</h5>
								<h6 class="mb-0 fw-light">کل اخبار</h6>
							</div>
						</div>
						
					</div>
					<!-- Card body END -->

					<!-- Card footer -->
					<div class="card-footer border-top text-center p-3">
            			<a href="#" class="btn btn-primary-soft w-90 mb-0">ایجاد</a>
					
						<button type="button" class="btn btn-danger-soft w-90 mb-0" onclick="del_category({{i.id}})">
						<i class="fa fa-trash"></i>حذف </button>
					</div>
				</div>
				<!-- Category item END -->
			</div>
			{% endfor %}
		</div>
	</div>

</section>
<!-- =======================
Main contain END -->
<!-- Button trigger modal -->

{% endblock contentpanel_dashboard %}

{% block link_js %}
<script src="{% static 'master/' %}js/ajax.js"></script>
<script src="{% static 'master/' %}js/sweetalert.js"></script>
<script src="{% static 'master/' %}js/delete_swal.js"></script>

<script>
	document.querySelector(".upload-button").addEventListener("click", () => {
	 //clicks on the file input
	 document.querySelector(".hidden-upload").click();
   });
   //adds event listener on the hidden file input to listen for any changes
   document.querySelector(".hidden-upload").addEventListener("change", (event) => {
	 //gets the file name
	 document.querySelector(".upload-name").value = event.target.files[0].name;
   });
  </script>
{% endblock link_js %}
