{% extends 'master/panel_dashboard.html' %}
{% load static %}
{% block settings_tab_name %}
<title>{{settings.tab_name}} | نمایش خبرها</title>
{% endblock settings_tab_name %} 
{% block link_css %}
<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'master/' %}css/dataTables.bootstrap5.min.css"> 
{% endblock link_css %}
{% block contentpanel_dashboard %}
<!-- =======================
Post list START -->
<section class="py-4">
	<div class="container">
    <div class="row pb-4">
			<div class="col-12">
        <!-- Title -->
				<div class="d-sm-flex justify-content-sm-between align-items-center">
					<h1 class="mb-2 mb-sm-0 h3">لیست اخبار </h1>			
					<a href="{% url 'master_post_create' %}" class="btn btn-sm btn-primary mb-0"><i class="fas fa-plus me-2"></i>ثبت خبر جدید</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
          <!-- Post list table START -->
          <div class="card border bg-transparent rounded-3">
            <!-- Card body START -->
            <div class="card-body p-3">
              <div class="row g-3 align-items-center justify-content-between mb-3">
                <div class="col-md-8">
                  <form id="search-form" class="rounded position-relative" method="GET" action="{% url 'master_post_list' %}">
                    <input id="search-input" class="form-control pe-5 bg-transparent" type="search" name="search" placeholder="جستجو" aria-label="Search">
                    <button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
                </form>
                </div>
              </div>
              <!-- Post list table START -->
              <div class="table-responsive border-0">
                <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                  <!-- Table head -->
                  <thead class="table-dark">
                    <tr>
                      <th scope="col" class="border-0 rounded-start">عنوان خبر</th>
                      <th scope="col" class="border-0">نام نویسنده</th>
                      <th scope="col" class="border-0">تاریخ انتشار</th>
                      <th scope="col" class="border-0">دسته بندی</th>
                      <th scope="col" class="border-0">وضعیت</th>
                      <th scope="col" class="border-0 rounded-end">فعالیت</th>
                    </tr>
                  </thead>
                  <!-- Table body START -->
                  <tbody id="news-table-body" class="border-top-0">
                    <!-- Table item -->
                    {% include 'master/includes/news_list_table.html' %}
                  </tbody>
                  <!-- Table body END -->
                </table>
              </div>
              <!-- Post list table END -->
              <!-- Pagination START -->
              <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
                <p class="mb-sm-0 text-center text-sm-start">
                    نمایش {{ news_list_show.start_index }} تا {{ news_list_show.end_index }} از {{ news_list_show.paginator.count }}
                </p>
                <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                  {% include 'master/includes/pagination.html' %}
                </nav>
            </div>
              <!-- Pagination END -->
            </div>
          </div>
          <!-- Post list table END -->
      </div>
    </div>
  </div>
</section>
<!-- =======================
Main contain END -->

{% endblock contentpanel_dashboard %}

{% block link_js %}
<script>
  $(document).ready(function() {
    // این بخش برای صفحه‌بندی است
    $(document).on('click', '#pagination a', function(e) {
        e.preventDefault();
        var page_url = $(this).attr('href');

        $.ajax({
            url: page_url,
            type: 'get',
            dataType: 'json',
            success: function(data) {
                $('#news-table-body').html(data.html_from_view);
                $('#pagination').replaceWith(data.pagination_html);
                history.pushState(null, '', page_url);
                updateItemCountText(data.start_index, data.end_index, data.total_count);
            }
        });
    });

    // این بخش برای جستجو است
    $('#search-input').on('keyup', function() {
      var search = $(this).val();
      var url = $('#search-form').attr('action') + '?search=' + search;
     
      $.ajax({
          url: url,
          type: 'get',
          dataType: 'json',
          success: function(data) {
              $('#news-table-body').html(data.html_from_view);
              $('#pagination').replaceWith(data.pagination_html);
              history.pushState(null, '', url);
              updateItemCountText(data.start_index, data.end_index, data.total_count);
          }
      });
  });

  // Existing form submit code...
});

function updateItemCountText(start, end, total) {
    var text = 'نمایش ' + start + ' تا ' + end + ' از ' + total;
    $('.text-center.text-sm-start').text(text);
}
</script>
<script src="{% static 'master/' %}js/ajax.js"></script>
<script src="{% static 'master/' %}js/data_table.js"></script>
{% endblock link_js %}
