{% extends 'front/panel.html' %}
{% load static %}
{% load custom_tags %}
{% load news_tags %}
{% block settings_tab_name %}
<title>{{settings.tab_name}} | خانه</title>
{% endblock settings_tab_name %}
{% block contentpanel %}
<!-- =======================
Inner intro START -->
<section class="pt-2">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url({{news_show.img.url}}); background-position: center left; background-size: cover;">
          <!-- Card Image overlay -->
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
            <div class="w-100 my-auto">
              <!-- Card category -->
			  {% if news_show.sub_category.category %}
			  <a href="#" class="badge mb-2" style="background-color: {{news_show.sub_category.category.coler}};"><i class="fas fa-circle me-2 small fw-bold"></i>{{news_show.sub_category.category}}</a>
			  {% else %}
			  <a href="#" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{news_show.sub_category.category}}</a>
			  {% endif %}
              <!-- Card title -->
              <h2 class="text-white display-5">{{news_show.title}}</h2>
              <!-- Card info -->
              <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                <li class="nav-item">
                  <div class="nav-link">
                    <div class="d-flex align-items-center text-white position-relative">
					  {% if news_show.author.profile_image %}
						<div class="avatar avatar-sm">
							<img class="avatar-img rounded-circle" src="{{news_show.author.profile_image.url}}" alt="avatar">
						</div>
						{% else %}
						<div class="avatar avatar-sm">
							<img class="avatar-img rounded-circle" src="{% static 'front/' %}images/admin-news.png" alt="avatar">
						</div>
					{% endif %}
                      <span class="ms-3">با <a href="#" class="stretched-link text-reset btn-link">{{news_show.author.get_full_name}}</a></span>
                    </div>
                  </div>
                </li>
                <li class="nav-item">{{news_show.jdate}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main START -->
<section class="pt-0">
	<div class="container position-relative" data-sticky-container>
		<div class="row">
			<!-- Main Content START -->
			<div class="col-lg-9 mb-5">
      	<p style="text-align: justify;">{{news_show.text}}</p>

				<!-- Author info START -->
				{% comment %} <div class="d-flex p-2 p-md-4 my-3 bg-primary bg-opacity-10 rounded">
					<!-- Avatar -->
					<a href="#">
						{% if news_show.author.profile_image %}
							<div class="avatar avatar-xxl me-2 me-md-4">
								<img class="avatar-img rounded-circle" src="{{news_show.author.profile_image.url}}" alt="avatar">
							</div>
							{% else %}
							<div class="avatar avatar-xxl me-2 me-md-4">
								<img class="avatar-img rounded-circle" src="{% static 'front/' %}images/admin-news.png" alt="avatar">
							</div>
						{% endif %}
					</a>
					<!-- Info -->
					<div>
						<div class="d-sm-flex align-items-center justify-content-between">
							<div>
								<h4 class="m-0"><a href="#" class="text-reset">{{news_show.author.get_full_name}}</a></h4>
								<small>روزنامه نگار سایت</small>
							</div>
						</div>
						<p class="my-2">مریم حسینی سردبیر ارشد این وبلاگ است و همچنین اخبار فوری مستقر در لندن را گزارش می دهد. او از سال 2015 درباره دولت، عدالت کیفری و نقش پول در سیاست نوشته است.</p>
						<!-- Social icons -->
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link ps-0 pe-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>
							</li>
						</ul>					
					</div>
				</div> {% endcomment %}
				<!-- Author info END -->

				<!-- Comments START -->
				<div class="mt-5" id="all-section">
					<h3> {{ comment_show|length }} دیدگاه</h3>
					<!-- Comment level 1-->
					{% for i in comment_show %}
					<div class="my-4 d-flex">
					  <img class="avatar avatar-md rounded-circle float-start me-3" src="{% static 'front/' %}images/admin-news.png" alt="avatar">
					  <div>
					    <div class="mb-2">
					    	<h5 class="m-0">{{i.user.get_full_name}}</h5>
					    	<span class="me-3 small">{{i.jdate}}</span>
					    </div>
					    <p>{{i.text}}</p>
					  </div>
					</div>
					{% endfor %}
				</div>
				<!-- Comments END -->
				<!-- Reply START -->
				<div>
					<h3>ثبت دیدگاه</h3>
					<small>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت گذاری شده اند *</small>
					<form class="row g-3 mt-2" action="{% url 'front_post_single_comment_submit' id=id %}" method="POST" id="form_all">
						{% csrf_token %}
					  <div class="col-md-6">
					    <label class="form-label">نام *</label>
					    <input type="text" id="last_name" name="last_name" class="form-control" aria-label="First name" required>
					  </div>
					  <div class="col-md-6">
					    <label class="form-label">ایمیل *</label>
					    <input type="email" id="email" name="email" class="form-control" required>
					  </div>
					  <div class="col-12">
					    <label class="form-label">متن دیدگاه *</label>
					  	<textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
					  </div>
					  <div class="col-12">
					    <button type="submit" class="btn btn-primary">ثبت</button>
					  </div>
					</form>
				</div>
				<!-- Reply END -->
			</div>
			<!-- Main Content END -->
			
			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div data-sticky data-margin-top="80" data-sticky-for="991">
          <!-- Categories -->
	      	<div class="row g-2">
						<h5>دسته بندی ها</h5>
						{% for i in category_show_list %}
						{% if i.coler %}
						<div class="d-flex justify-content-between align-items-center rounded p-2 position-relative" style="background-color: {{ i.coler|hex_to_rgba:'0.15' }};">
							<h6 class="m-0" style="color: {{ i.coler_text }};">{{i.title}}</h6>
							<a href="{% url 'front_post_list' id=i.id %}" class="badge text-white stretched-link" style="background-color: {{ i.coler }}; opacity: 100%; "> {{ i|post_count }} </a>
						</div>
						{% else %}
						<div class="d-flex justify-content-between align-items-center rounded p-2 position-relative" style="background-color: {{ i.coler|hex_to_rgba:'0.15' }};">
							<h6 class="m-0" style="color: {{ i.coler_text }};">{{i.title}}</h6>
							<a href="{% url 'front_post_list' id=i.id %}" class="badge text-white stretched-link">{{ i|post_count }}</a>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					
					<!-- Newsletter START -->
					{% comment %} <div class="bg-light p-4 mt-4 rounded-3 text-center">
						<h4>عضویت در خبرنامه</h4>
						<form>
							<div class="mb-3">
								<input type="email" class="form-control" placeholder="ایمیل">
							</div>
							<button type="submit" class="btn btn-primary">عضویت</button>
						</form>
					</div> {% endcomment %}
					<!-- Newsletter END -->

					<!-- Advertisement -->
					<div class="mt-4">
						<a href="#" class="d-block card-img-flash">
							<img src="{% static 'front/' %}images/adv.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<!-- Right sidebar END -->
		</div>
	</div>
</section>
<!-- =======================
Main END -->

{% endblock contentpanel %}
{% block link_ajax_js %}

{% endblock link_ajax_js %}